body{
    background-color: midnightblue;
    color: white;
}
table{
    border-color: white;}
td{
        padding: 8px 16px;
    }
    tr{
        background-color: aquamarine;
        color: black;
        text-align: center;
    }
.col{
    font-size: 18px;
    font-weight: bold;
  background-color:  chartreuse;
  color: black;
}
input{
    font-size: 16px;
    
}